/* @override http://projects:8888/theme/stylesheets/admin/forms.css */

/* @override http://projects:8888/theme/stylesheets/admin/forms.css */

/* forms */

input.checkbox {
  margin: 0;
  padding: 0;
}



.form .columns {
	padding: 0;
}

.form .columns .left {
  float: left;
}

.form .columns .right {
  float: right;
}

.form label.label, .form input.text_field, .form textarea.text_area {
  
}

.form label.right {
  text-align: right;
}

.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

.form label.label {
  display: block;
  padding-bottom: 2px;  
  font-weight: bold;
}

.form div.fieldWithErrors label.label {
  display: inline;
}

.form .fieldWithErrors .error {
  color: red;
}

/* Width based on columns */

.form input.text_field, .form textarea.text_area {
	
}

/* This should really void the resize below */

.form .group {
	padding-left: 11px;
	padding-right: 11px;
	
	
}

.form .alpha .group {
	padding-left: 22px;
	padding-right: 0;
	
	
}

.form .omega .group {
	padding-left: 0;
	padding-right: 0px;
	
	
}

/* This will override the default */
form {
	margin-bottom: 0px;
}

/* Fixes width issues with form elements in the grid. */
.sixteen.columns select,
.sixteen.columns input,
.sixteen.columns textarea{width:930px}
.sixteen.columns select{width:940px}
.fifteen.columns select,
.fifteen.columns input,
.fifteen.columns textarea{width:870px}
.fifteen.columns select{width:880px}
.fourteen.columns select,
.fourteen.columns input,
.fourteen.columns textarea{width:810px}
.fourteen.columns select{width:820px}
.thirteen.columns select,
.thirteen.columns input,
.thirteen.columns textarea{width:750px}
.thirteen.columns select{width:760px}
.twelve.columns select,
.twelve.columns input,
.twelve.columns textarea{width:690px}
.twelve.columns select{width:700px}
.eleven.columns select,
.eleven.columns input,
.eleven.columns textarea{width:630px}
.eleven.columns select{width:640px}
.ten.columns select,
.ten.columns input,
.ten.columns textarea{width:570px}
.ten.columns select{width:580px}
.nine.columns select,
.nine.columns input,
.nine.columns textarea{width:510px}
.nine.columns select{width:520px}
.eight.columns select,
.eight.columns input,
.eight.columns textarea{width:450px}
.eight.columns select{width:460px}
.seven.columns select,
.seven.columns input,
.seven.columns textarea{width:390px}
.seven.columns select{width:400px}
.six.columns select,
.six.columns input,
.six.columns textarea{width:330px}
.six.columns select{width:340px}
.five.columns select,
.five.columns input,
.five.columns textarea{width:270px}
.five.columns select{width:280px}
.four.columns select,
.four.columns input,
.four.columns textarea{width:210px}
.four.columns select{width:220px}
.three.columns select,
.three.columns input,
.three.columns textarea{width:150px}
.three.columns select{width:160px}
.two.columns select,
.two.columns input,
.two.columns textarea{width:90px}
.two.columns select{width:100px}
.one.column select,
.one.column input,
.one.column textarea{width:30px}
.one.column select{width:40px}



/* Make sure this doesn't happen in the table */
table select,
table input,
table textarea,
table select {
	width:  auto !important;
}

/* Make sure form elements don't break the box width */
.one.column > .group select,
.one.column > .group input,
.one.column > .group textarea{width:8px;}
.two.columns > .group select,
.two.columns > .group input,
.two.columns > .group textarea{width:68px;}
.three.columns > .group select,
.three.columns > .group input,
.three.columns > .group textarea{width:128px;}
.four.columns > .group select,
.four.columns > .group input,
.four.columns > .group textarea{width:188px;}
.five.columns > .group select,
.five.columns > .group input,
.five.columns > .group textarea{width:248px;}
.six.columns > .group select,
.six.columns > .group input,
.six.columns > .group textarea{width:310px;}
.seven.columns > .group select,
.seven.columns > .group input,
.seven.columns > .group textarea{width:368px;}
.eight.columns > .group select,
.eight.columns > .group input,
.eight.columns > .group textarea{width:428px;}
.nine.columns > .group select,
.nine.columns > .group input,
.nine.columns > .group textarea{width:488px;}
.ten.columns > .group select,
.ten.columns > .group input,
.ten.columns > .group textarea{width:548px;}
.eleven.columns > .group select,
.eleven.column > .group input,
.eleven.columns > .group textarea{width:608px;}
.twelve.columns > .group select,
.twelve.columns > .group input,
.twelve.columns > .group textarea{width:668px;}
.thirteen.columns > .group select,
.thirteen.columns > .group input,
.thirteen.columns > .group textarea{width:728px;}
.fourteen.columns > .group select,
.fourteen.columns > .group input,
.fourteen.columns > .group textarea{width:788px;}
.fifteen.columns > .group select,
.fifteen.columns > .group input,
.fifteen.columns > .group textarea{width:848px;}
.sixteen.columns > .group select,

.sixteen.columns > .group input,
.sixteen.columns > .group textarea{width:908px;}

/* Reset for input */

input[type="submit"], input[type="reset"] {
	cursor:pointer;
	width:auto !important;
}
