/* @override http://projects:8888/theme/stylesheets/admin/forms.css */

/* @override http://projects:8888/theme/stylesheets/admin/forms.css */

/* forms */

input.checkbox {
  margin: 0;
  padding: 0;
}

.form .group {
  margin-bottom: 15px;
}

.form .columns {
	padding: 0;
}

.form .columns .left {
  float: left;
}

.form .columns .right {
  float: right;
}

.form label.label, .form input.text_field, .form textarea.text_area {
  
  
  margin: 0;
}

.form label.right {
  text-align: right;
}

.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

.form label.label {
  display: block;
  padding-bottom: 2px;  
  font-weight: bold;
}

.form div.fieldWithErrors label.label {
  display: inline;
}

.form .fieldWithErrors .error {
  color: red;
}

/* Width based on columns */

.form input.text_field, .form textarea.text_area {
	border: none;
  width: 100%;
padding-left: 0px;
padding-right: 0px;
}

/* Fixes width issues with form elements in the grid. */
.one.column select,
.one.column input,
.one.column textarea{width:30px}
.one.column select{width:40px}
.two.columns select,
.two.columns input,
.two.columns textarea{width:90px}
.two.columns select{width:100px}
.three.columns select,
.three.columns input,
.three.columns textarea{width:150px}
.three.columns select{width:160px}
.four.columns select,
.four.columns input,
.four.columns textarea{width:210px}
.four.columns select{width:220px}
.five.columns select,
.five.columns input,
.five.columns textarea{width:270px}
.five.columns select{width:280px}
.six.columns select,
.six.columns input,
.six.columns textarea{width:330px}
.six.columns select{width:340px}
.seven.columns select,
.seven.columns input,
.seven.columns textarea{width:390px}
.seven.columns select{width:400px}
.eight.columns select,
.eight.columns input,
.eight.columns textarea{width:450px}
.eight.columns select{width:460px}
.nine.columns select,
.nine.columns input,
.nine.columns textarea{width:510px}
.nine.columns select{width:520px}
.ten.columns select,
.ten.columns input,
.ten.columns textarea{width:570px}
.ten.columns select{width:580px}
.one.column1 select,
.one.column1 input,
.one.column1 textarea{width:630px}
.one.column1 select{width:640px}
.twelve.columns select,
.twelve.columns input,
.twelve.columns textarea{width:690px}
.twelve.columns select{width:700px}
.thirteen.columns select,
.thirteen.columns input,
.thirteen.columns textarea{width:750px}
.thirteen.columns select{width:760px}
.fourteen.columns select,
.fourteen.columns input,
.fourteen.columns textarea{width:810px}
.fourteen.columns select{width:820px}
.fifteen.columns select,
.fifteen.columns input,
.fifteen.columns textarea{width:870px}
.fifteen.columns select{width:880px}
.sixteen.columns select,
.sixteen.columns input,
.sixteen.columns textarea{width:930px}
.sixteen.columns select{width:940px}

/* Make sure form elements don't break the box width */
.one.column > .box select,.one.column > .box input,.one.column > .box textarea{width:8px;}
.two.columns > .box select,.two.columns > .box input,.two.columns > .box textarea{width:68px;}
.three.columns > .box select,.three.columns > .box input,.three.columns > .box textarea{width:128px;}
.four.columns > .box select,.four.columns > .box input,.four.columns > .box textarea{width:188px;}
.five.columns > .box select,.five.columns > .box input,.five.columns > .box textarea{width:248px;}
.six.columns > .box select,.six.columns > .box input,.six.columns > .box textarea{width:310px;}
.seven.columns > .box select,.seven.columns > .box input,.seven.columns > .box textarea{width:368px;}
.eight.columns > .box select,.eight.columns > .box input,.eight.columns > .box textarea{width:428px;}
.nine.columns > .box select,.nine.columns > .box input,.nine.columns > .box textarea{width:488px;}
.ten.columns > .box select,.ten.columns > .box input,.eleven.columns > .box textarea{width:548px;}
.one.column1 > .box select,.one.column1 > .box input,.one.column1 > .box textarea{width:608px;}
.twelve.columns > .box select,.twelve.columns > .box input,.twelve.columns > .box textarea{width:668px;}
.thirteen.columns > .box select,.thirteen.columns > .box input,.thirteen.columns > .box textarea{width:728px;}
.fourteen.columns > .box select,.fourteen.columns > .box input,.fourteen.columns > .box textarea{width:788px;}
.fifteen.columns > .box select,.fifteen.columns > .box input,.fifteen.columns > .box textarea{width:848px;}
.sixteen.columns > .box select,.sixteen.columns > .box input,.sixteen.columns > .box textarea{width:908px;}

/* Reset for input */

input[type="submit"], input[type="reset"] {
	cursor:pointer;
	width:auto !important;
}
