/* pagination */

.pagination {
	margin: 20px 0 15px 0;
	padding: 0px;
	float: right;
	
}

.pagination a, .pagination span, .pagination em {
	  color: #111;
	  text-align: center;
	  min-width: 15px;
	  margin-right: 0px;
	  padding: 5px;
	
}

.pagination em {
  background: #002134;
  color: #fff;
  border: 1px solid #002134;
}

.pagination em {
  font-weight: bold;  
}

.pagination a {
  text-decoration: none;  
}